.about-container
{
    display: flex;
    min-height: 100vh;
}

.about-left
{
    display: flex;
    align-items: center;
    flex: 1 1 150px;
    justify-content: center;

    text-align: center;

    background-color: #ffc107;

    clip-path: polygon(0 0, 100% 0, 90% 100%, 0 100%);
}

.about-right
{
    display: flex;
    align-items: center;
    flex: 1 1 150px;
    justify-content: center;

    text-align: justify;
}
.about-title
{
    font-size: 24px;

    display: flex;
    justify-content: center;

    width: 100%;

    color: rgb(255, 255, 255);
}

.about-content
{
    margin-right: 3rem;
    margin-left: 3rem;
}

.about-content h4
{
    font-size: 24px;
    font-weight: 300;

    color: rgb(48, 48, 48);
}

.about-content-bg
{
    font-weight: bolder;

    padding: 2px;

    color: white;
    border-radius: 3px;
    background-color: #ffc107;
}

@media screen and (max-width: 480px)
{
    .about-container
    {
        flex-direction: column;

        height: 100%;
        min-height: 100vh;
    }

    .about-left
    {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }

    .about-right{
        margin-bottom: 1rem;
    }

    .about-title
    {
        font-size: 18px;
    }

    .about-content h4
    {
        font-size: 20px;
    }
}
