.projects-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    position: relative;
}

.projects-right {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
}

.projects-left {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
}

.projects-title {
    display: flex;
    flex: 1;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    top: 0;
    position: absolute;
}

.projects-wrapper {
    display: flex;
    flex: 10;
}

.projects-left-wrapper {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 10rem;
}

.projects-left-wrapper h2 {
    font-weight: 300;
    margin-bottom: 2rem;
}

.projects-title h1 {
    font-weight: 600;
    font-size: 34px;
    background: white;
    color: #ffc107;
    padding: 1rem;
    border-radius: 3px;
}

.projects-left-img {
    object-fit: cover;
    width: 350px;
    height: 350px;
    border-radius: 10px;
    transition: 0.5s ease-out;
}

svg{
    position: absolute;
}
.projects-left-img:hover {
    transition: 0.5s ease-out;
    transform: scale(1.03);
    cursor: pointer;
    border-radius: 30px;
}
@media screen and (max-width: 480px) {

    .projects-container {
        flex-direction: column;
        height: 100%;
        min-height: 100vh;
    }
    .projects-left-img {
        width: 250px;
        height: 250px;
    }

    .projects-wrapper {
        flex-direction: column;
    }

    .projects-title h1 {
        font-weight: 600;
        font-size: 32px;
        background: white;
        color: #ffc107;
        padding: 0.5rem;
        border-radius: 3px;
    }

    .projects-left-wrapper {
        margin-top: 7rem;
    }
}
