.technologies-container {
    display: flex;
    height: 100vh;
    flex-direction: column;
    background-color: #ffc107;
}

.technologies-title{
    display: flex;
    flex: 1;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
}

.technologies-wrapper{
    display: flex;
    flex: 10;
}
.technologies-title h1{
    font-weight: 600;
    font-size: 34px;
    background: white;
    color: #ffc107;
    padding: 1rem;
    border-radius: 3px;
}

.technologies-left{
    display: flex;
    flex: 1;
    justify-content: center;
    text-align: center;
    margin-top: 1rem;
}
.technologies-left-backend h2{
    font-weight: 500;
    background: white;
    color: #ffc107;
    padding: 0.5rem;
    border-radius: 10px;
    margin-bottom: 4rem;
}

.technologies-right{
    display: flex;
    flex: 1;
    justify-content: center;
    text-align: center;
    margin-top: 1rem;
}


.technologies-right-frontend h2{
    font-weight: 500;
    background: white;
    color: #ffc107;
    padding: 0.5rem;
    border-radius: 10px;
    margin-bottom: 4rem;
}

.technologies-card-wrapper{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 2rem;
    grid-row-gap: 2rem;
}