.technologies-container
{
    display: flex;
    flex-direction: column;

    background-color: #ffc107;
}

.technologies-title
{
    display: flex;
    align-items: center;
    flex: 1 1 150px;
    justify-content: center;

    width: 100%;
    margin-top: 4rem;
}

.technologies-wrapper
{
    display: flex;
    align-items: center;
    flex: 10 1 150px;
}
.technologies-title h1
{
    font-size: 34px;
    font-weight: 600;

    padding: 1rem;

    color: #ffc107;
    border-radius: 3px;
    background: white;
}

.technologies-left
{
    display: flex;
    flex: 1 1 150px;
    justify-content: center;

    margin-top: 1rem;

    text-align: center;
}
.technologies-left-backend h2
{
    font-weight: 500;

    margin-bottom: 4rem;
    padding: .5rem;

    color: #ffc107;
    border-radius: 10px;
    background: white;
}

.technologies-right
{
    display: flex;
    flex: 1;
    justify-content: center;

    margin-top: 1rem;

    text-align: center;
}


.technologies-right-frontend h2
{
    font-weight: 500;

    margin-bottom: 4rem;
    padding: .5rem;

    color: #ffc107;
    border-radius: 10px;
    background: white;
}

.technologies-card-wrapper
{
    display: grid;

    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 2rem;
    grid-row-gap: 2rem;
}

@media screen and (max-width: 480px)
{
    .technologies-container
    {
        align-items: center;
        flex-direction: column;
        justify-content: center;

        height: 100%;
        min-height: 100vh;
    }
    .technologies-title
    {
        margin-top: 10px;
    }

    .technologies-wrapper
    {
        display: flex;
        flex-direction: column;

        margin-top: auto;
    }
    .technologies-title h1
    {
        font-size: 24px;
        font-weight: 600;

        margin-right: 10px;
        margin-left: 10px;
        padding: 1rem;

        text-align: center;

        color: #ffc107;
        border-radius: 3px;
        background: white;
    }

    .technologies-left-backend h2
    {
        font-weight: 500;

        width: 100%;
        padding: .5rem;

        text-align: center;

        color: #ffc107;
        border-radius: 10px;
        background: white;
    }

    .technologies-left-backend
    {
        text-align: center;
    }
    .technologies-card-wrapper
    {
        display: grid;

        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 2rem;
        grid-row-gap: 2rem;
    }
}
