.contact-container
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    height: 100%;
    min-height: 80vh;
}

.contact-informations
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;

    width: 50%;

    text-align: center;
}

.contact-form-loader > :only-child
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;

    width: 100%;

    text-align: center;
}

.fa-phone
{
    color: #368522;
}
.contact-left
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;

    text-align: center;

    background-color: #ffc107;
}

.contact-left-title
{
    font-size: 64px;
}

.contact-right
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;

    text-align: justify;
}
.contact-group
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.contact-group input
{
    margin-right: 1rem;
}
.contact-form
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;

    margin-top: 1rem;
}

h4
{
    margin-bottom: 0;
}

.contact-error
{
    color: red;
}
@media screen and (max-width: 480px)
{
    .contact-container
    {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }

    .contact-group
    {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }

    .contact-right-title
    {
        font-size: 18px;

        margin-top: 1em;
    }

    label
    {
        font-size: 14px;
    }

    .contact-button-cv
    {
        margin-bottom: 1em;
    }

    .contact-form-button
    {
        margin-bottom: 1em;
    }

    .contact-informations
    {
        width: 75%;
    }

    .contact-form-loader > :only-child
    {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;

        width: 100%;
        margin-top: 1em;
        margin-bottom: 3em;
        padding: 1rem;

        text-align: center;
    }
}

.contact-button-cv
{
    font-size: 24px;
    font-weight: bold;

    display: -webkit-box;

    display: -ms-flexbox;

    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;

    width: 100%;
    padding: 1rem;

    cursor: pointer;
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
    text-align: center;

    color: #ffc107;
    border: none;
    border-radius: 5px;
    background-color: white;
}

.contact-mail
{
    margin-bottom: 3rem;
}
.contact-form-button
{
    font-size: 24px;
    font-weight: bold;

    display: -webkit-box;

    display: -ms-flexbox;

    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;

    width: 50%;
    margin-top: 1rem;
    padding: 1rem;

    cursor: pointer;
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
    text-align: center;

    color: white;
    border: none;
    border-radius: 5px;
    background-color: #ffc107;
}

.contact-form-loader
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}
.contact-button-cv:hover
{
    cursor: pointer;
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
    -webkit-transform: scale(1.02);
        -ms-transform: scale(1.02);
            transform: scale(1.02);
}

.contact-form-button:hover
{
    cursor: pointer;
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
    -webkit-transform: scale(1.02);
        -ms-transform: scale(1.02);
            transform: scale(1.02);
}

.field
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-flow: column-reverse;
            flex-flow: column-reverse;

    width: 100%;
    margin-bottom: 1em;
}

input,
label,
textarea
{
    -webkit-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s;

    -ms-touch-action: manipulation;

        touch-action: manipulation;
}

input
{
    font-family: inherit;
    font-size: 1.5em;

    padding: 0;

    cursor: text;

    border: 0;
    border-bottom: 1px solid #ccc;
    border-radius: 0;

    -webkit-appearance: none;
}

textarea
{
    font-family: inherit;
    font-size: 1.5em;

    padding: 0;

    resize: none;
    cursor: text;

    border: 0;
    border-bottom: 1px solid #ccc;
    border-radius: 0;

    -webkit-appearance: none;
}
input:focus
{
    border-bottom: 1px solid #666;
    outline: 0;
}
textarea:focus
{
    border-bottom: 1px solid #666;
    outline: 0;
}

label
{
    font-size: 14px;

    margin-bottom: 1rem;

    color: rgb(97, 97, 97);
}

input:-moz-placeholder-shown + label
{
    overflow: hidden;

    max-width: 66.66%;

    cursor: text;
    transform: translate(0, 2.125rem) scale(1.5);
    transform-origin: left bottom;
    white-space: nowrap;
    text-overflow: ellipsis;
}

input:-ms-input-placeholder + label
{
    overflow: hidden;

    max-width: 66.66%;

    cursor: text;
    -ms-transform: translate(0, 2.125rem) scale(1.5);
        transform: translate(0, 2.125rem) scale(1.5);
    -ms-transform-origin: left bottom;
        transform-origin: left bottom;
    white-space: nowrap;
    text-overflow: ellipsis;
}

input:placeholder-shown + label
{
    overflow: hidden;

    max-width: 66.66%;

    cursor: text;
    -webkit-transform: translate(0, 2.125rem) scale(1.5);
        -ms-transform: translate(0, 2.125rem) scale(1.5);
            transform: translate(0, 2.125rem) scale(1.5);
    -webkit-transform-origin: left bottom;
        -ms-transform-origin: left bottom;
            transform-origin: left bottom;
    white-space: nowrap;
    -o-text-overflow: ellipsis;
       text-overflow: ellipsis;
}
textarea:-moz-placeholder-shown + label
{
    overflow: hidden;

    max-width: 66.66%;

    cursor: text;
    transform: translate(0, 2.125rem) scale(1.5);
    transform-origin: left bottom;
    white-space: nowrap;
    text-overflow: ellipsis;
}
textarea:-ms-input-placeholder + label
{
    overflow: hidden;

    max-width: 66.66%;

    cursor: text;
    -ms-transform: translate(0, 2.125rem) scale(1.5);
        transform: translate(0, 2.125rem) scale(1.5);
    -ms-transform-origin: left bottom;
        transform-origin: left bottom;
    white-space: nowrap;
    text-overflow: ellipsis;
}
textarea:placeholder-shown + label
{
    overflow: hidden;

    max-width: 66.66%;

    cursor: text;
    -webkit-transform: translate(0, 2.125rem) scale(1.5);
        -ms-transform: translate(0, 2.125rem) scale(1.5);
            transform: translate(0, 2.125rem) scale(1.5);
    -webkit-transform-origin: left bottom;
        -ms-transform-origin: left bottom;
            transform-origin: left bottom;
    white-space: nowrap;
    -o-text-overflow: ellipsis;
       text-overflow: ellipsis;
}

::-webkit-input-placeholder
{
    -webkit-transition: inherit;
    transition: inherit;

    opacity: 0;
}

input:focus::-webkit-input-placeholder
{
    opacity: 1;
}
textarea:focus::-webkit-input-placeholder
{
    opacity: 1;
}

input:not(:-moz-placeholder-shown) + label
{
    cursor: pointer;
    transform: translate(0, 0) scale(1);

    color: #ffc107;
}

input:not(:-ms-input-placeholder) + label
{
    cursor: pointer;
    -ms-transform: translate(0, 0) scale(1);
        transform: translate(0, 0) scale(1);

    color: #ffc107;
}

input:focus + label,
input:not(:placeholder-shown) + label
{
    cursor: pointer;
    -webkit-transform: translate(0, 0) scale(1);
        -ms-transform: translate(0, 0) scale(1);
            transform: translate(0, 0) scale(1);

    color: #ffc107;
}
textarea:not(:-moz-placeholder-shown) + label
{
    cursor: pointer;
    transform: translate(0, 0) scale(1);

    color: #ffc107;
}
textarea:not(:-ms-input-placeholder) + label
{
    cursor: pointer;
    -ms-transform: translate(0, 0) scale(1);
        transform: translate(0, 0) scale(1);

    color: #ffc107;
}
textarea:focus + label,
textarea:not(:placeholder-shown) + label
{
    cursor: pointer;
    -webkit-transform: translate(0, 0) scale(1);
        -ms-transform: translate(0, 0) scale(1);
            transform: translate(0, 0) scale(1);

    color: #ffc107;
}